:root {
    --bg-color-main: #f8f8f8;
    --bg-color-light_green: #02888D;
    --bg-color-dark_green: #01575A;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    background-color: transparent;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* ---size--- */
.max-width-content {
    max-width: 1200px;
    width: 96%;
}
.padding-y {
    padding: 135px 0;
}

@media screen and (max-width: 800px) {
    .max-width-content {
        width: 90%;
    }
    .padding-y {
        padding: 75px 0;
    }
}


/* ---------- */


/* text */
    h1 {
        font-family: Poppins;
        font-size: clamp(46px, 7vw, 72px);
        font-style: normal;
        font-weight: 600;
        line-height: 78px;
        letter-spacing: -1.84px;
    }
    h2 {
        font-family: Poppins;
        /* font-size: 72px; */
        font-size: clamp(30px, 4vw, 36px);
        font-style: normal;
        font-weight: 600;
        line-height: 46px;
        letter-spacing: -0.36px;
    }
    h3 {
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.24px;
    }
    h4 {
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.18px;
    }
    p {
        font-family: Poppins;
        font-size: clamp(14px, 1.5vw, 18px);
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.18px;
    }
    a {
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    .text-white {
        color: #FFF;
    }
    .text-black {
        color: #1a1a1a;
    }
    .text-green {
        color: #02888D;
    }
    .text-gray {
        color: #757B8A;
    }
    .uppercase {
        text-transform: uppercase;
    }
    .bold {
        font-weight: bold;
    }
    .underline {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }
    .inter {
        font-family: Inter;
    }
    .opacity-08 {
        opacity: 0.8;
    }
    .opacity-05 {
        opacity: 0.5;
    }

/* ---- */

/* display */
/* display - justifyContent - alignItems - flexDirection*/

/*row*/
.f-c-c-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.f-c-s-r {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.f-c-e-r {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.f-s-c-r {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.f-s-s-r {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.f-s-e-r {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
}

.f-e-c-r {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.f-e-s-r {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
}

.f-e-e-r {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.f-sb-c-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.f-sb-s-r {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.f-sb-e-r {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}


/*column*/
.f-c-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.f-c-s-c {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.f-c-e-c {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.f-s-c-c {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.f-s-s-c {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.f-s-e-c {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

.f-e-c-c {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.f-e-s-c {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.f-e-e-c {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.f-sb-c-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.f-sb-s-c {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.f-sb-e-c {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}
/* ------- */

/* buttons */
button {
    font-size: clamp(14px, 1.5vw, 16px);
    
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.btn-rounded {
    display: flex;
    padding: 16px 36px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 32px; 
}
.btn-orange {
    background: linear-gradient(96deg, #FF6703 -7.28%, #CC5100 115.84%);
}
.btn-white {
    border: 1px solid #018085;
    background-color: white;
}

/* ------- */