/* Standart mobile breakpoint */
@media screen and (max-width: 900px) {
    /* Header */
    .header__links {
        display: none;
    }
    .header__button {
        display: none;
    }
    #burger-btn {
        display: flex;
    }
    .dropdown {
        display: flex;
    }


    /* Section 1 */
    .insurance-content {
        flex-direction: column;
        max-width: 500px;
        gap: 58px;
    }
    .insurance__text {
        width: 100%;
    }
    .insurance__decoration {
        width: 100%;
        position: static;

    }
    .insurance__decoration img {
        position: static;
        width: 110%;
        transform: translateX(-4%);
        max-width: 450px;
        padding: 27px;
        padding-bottom: 0;
    }
    .insurance__buttons {
        gap: 8px;
    }
    .insurance__buttons button {
        padding: 10px 20px;
    }
    .insurance__title button span {
        font-size: 12px;
    }
    .small-btn-span {
        padding: 6px 8px;
    }


    /* Section 4 */
    .package-wrapper {
        overflow-x: visible;
    }
    .package-content {
        flex-direction: column;
        max-width: 500px;
    }
    .package__variants {
        width: 105%;
        overflow-x: auto;
    }
    .package__square {
        width: 310px;
    }
    .package__text {
        max-width: 500px;
        width: 100%;
        max-width: 500px;
    }


}