/* Standart mobile breakpoint */
@media screen and (max-width: 800px) {
    /* Header */
    .header__links {
        display: none;
    }
    .header__button {
        display: none;
    }
    #burger-btn {
        display: flex;
    }


}